@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


.setup-menu{
    display: none;
    background-color: #131010;
    cursor: pointer;
}

#Setup a.active_side_nav{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    color: black;
    border: 3px solid rgba(1, 1, 1, 0.08);
    
}
#report a.active_side_nav{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    color: black;
    border: 3px solid rgba(1, 1, 1, 0.08);
}
.setup-menu a.active_side_nav{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    background-color: white;
    color: black;
    /* border-radius: 5px; */
}

.setup-menu a:hover{
    background-color: white;
    cursor: pointer; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
}

.client-sumarry a:hover{
    background-color: white;
    cursor: pointer; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: black;
}


.client-sumarry {
    display: none;
    background-color: #131010;
}



#Setup a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    cursor: pointer;
}
#report a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FAFAFA;
    cursor: pointer;
}

.client-project-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 40px;
}
.report-icon{
    float:right;

}

.report-icon img{
    width: 8px;
    height: 8px;
}

.setup-menu a{

}