@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

.fev_title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    margin-top: 30px;
    margin-left: 20px;

}

.fav_input {
    width: 600px;
    height: 40px;
    background-color: white;
    border: 2px solid rgba(0, 0, 0, 0.08);
    padding: 0 10px;
    
}
