@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');


.card-date p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #424242;
}

.line-image {
    width: 100px;
    height: 36px;
}

.card-bottom-icon img{
    width: 30px;
    height: 30px;
}
.number-color{
    color: #37B400;;
}