@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

.mywork-container {
    display: grid;
    grid-template-columns: 17% 62% 20%;
    gap: 10px;
    height: 100vh;
}

.mywork-side-details {
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.08);
    padding: 5px;
}

.mywork-image-folder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.day {
    display: inline-block;
    cursor: pointer;
    color: #666666;
}

.day.active {
    background-color: #0F7EC2;
    color: white;
    padding: 1px 3px;
    border-radius: 5px;
}

.calendar {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #666666;
    margin-top: 8px;
}

.task-timer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #424242;
    margin-top: 10px;
}

.current-time {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #424242;
}

.date-time {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);

}

.modal-btns {
    color: #0F7EC2;
    text-decoration: underline;
}

.modal-header-btn {
    background-color: #0F7EC2;
    color: white;
}

.cencle-modal-btn {
    color: white;
    border: none;
}


/* styles.css */

/* modal-instruction */
#modal-instruction {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* Modal content */
.modeal-content-instraction {
    background-color: #fefefe;
    margin: 15% auto;
    /* Adjust the top margin to center vertically */
    border: 1px solid #888;
    width: 100px;
    /* Fixed width */
    max-width: 30%;
    /* Ensure the modal fits within the viewport */
}

/* Close button */
.instruction-close-btn {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    
}

.modal-Instruction-title {
    background-color: #0F7EC2;
    font-size: 10px;
    color: white;
    padding: 10px;
}

.modal-Instruction-title h2 {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
}

#openModal-instruction {
    color: #0F7EC2;
    text-decoration: underline;
    cursor: pointer;
}

/* note-modal */
#note-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

#note-openModal {
    color: #0F7EC2;
    text-decoration: underline;
    cursor: pointer;
}

/* Modal content */
.note-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 400px;
    max-width: 40%;

}

/* Close button */
.note-close-btn {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.not-modal-title {
    background-color: #0F7EC2;
    font-size: 10px;
    color: white;
    padding: 10px;
}

.not-modal-title h2 {
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
}

.close-modual-btn {
    background-color: rgb(222, 218, 218);
    border: none;
    padding: 5px;
    border-radius: 5px;

}

.details-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #424242;
}

/* upload file  */
#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  #modal {
    background-color: #fff;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #modal h2 {
    margin-top: 0;
  }
  
  #modal-close {
    display: block;
  }
  .modal-close-icon{
    font-size: 40px;
    margin-top: -10px;
    cursor: pointer;
  }
  .uploadm-title{
    background-color: #0F7EC2;
    color: white;
    text-align: center;
    padding: 7px;
  }
  .upload-btn1{
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #c1c6c9;
    color:black
  }
  .upload-btn2{
    padding: 3px 10px;
    border-radius: 5px;
    background-color: #0F7EC2;
    color: white;
  }
  