@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");
.singup_form_content {
  width: 650px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 70px 20px rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
}
.singup_container {
  display: flex;
  justify-content: center;
  background-color: rgb(179, 178, 177);
  min-height: 100vh;
}
.singup_content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.singup_log {
  text-align: center;
  margin-top: 50px;
}
.singup_log img {
  width: 100px;
  height: 100px;
}
.singup_log p {
  font-family: "Inter";
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}
.singup_log h6 {
  font-family: "Inter";
  font-style: normal;
  margin-top: -12px;
  font-size: 13px;
  color: rgb(215, 57, 57);
}
.singup_divider {
  width: 260px;
  background-color: rgb(149, 143, 143);
}
.singup_log h5 {
  font-family: "Inter";
  font-style: normal;
  font-size: 13px;
  margin-top: 5px;
}

.from_content {
  display: flex;
  align-items: center;
  margin-bottom: 18px; /* Adjust the margin as needed */
}

.label {
  width: 150px;
  margin-right: 10px;
  display: flex;
  justify-content: end;
  font-size: 15px;
}

.input_container {
  position: relative;
  flex-grow: 1;
}

.icon {
  position: absolute;
  left: 5px;
  top: 9px;
}

.input-field {
  padding-left: 30px;
  width: 80%;
  height: 35px;
  border: 2px solid rgba(0, 0, 0, 0.08);
}
.input-select {
  padding-left: 30px;
  width: 80%;
  height: 35px;
  border: 2px solid rgba(0, 0, 0, 0.08);
}
.input-file {
  width: 80%;
  height: 35px;
  border: 2px solid rgba(0, 0, 0, 0.08);
}
.singup_textarea {
  padding-left: 30px;
  width: 80%;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.08);
}

.Password_format {
  font-size: 13px;
  text-align: center;
  color: rgb(216, 55, 55);
}
.contact_text {
  font-family: "Inter";
  font-style: normal;
  font-size: 13px;
  margin-top: 5px;
  text-align: center;
}
.submit_btn_container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.submit_btn {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(23, 124, 124);
  border: none;
  color: white;
  font-size: 20px;
}

.login_btn {
  width: 90%;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(235, 234, 234);
  color: black;
  text-decoration: none;
}
.login_btn:hover {
  color: black;
  text-decoration: none;
}
@media (max-width: 767px) {
  .input-file {
    width: 210px;
  }
  .input_container {
    position: none;
  }
  .input-select {
    padding-left: 30px;
    width: 220px;
    height: 35px;
    border: 2px solid rgba(0, 0, 0, 0.08);
  }
  .input-field {
    width: 100%;
  }
  .singup_textarea {
    padding-left: 42px;
    width: 100%;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.08);
  }
  .from_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
  }
  .label {
    display: flex;
    justify-content: start;
    font-size: 15px;
    margin-right: 60px;
  }
  .singup_divider {
    width: 160px;
  }

  .from_content {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
}
