@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap");

.login_container {
  background-image: url("../assets/singing.png");
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.login_from_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_form_content {
  width: 450px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 70px 20px rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
}

.login_logo {
  text-align: center;
}

.login_logo img {
  width: 80px;
  height: 80px;
}

.login_logo h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #0f1222;
}
.login_logo p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #0f1222;
}

.login_input label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #0f1222;
}
.login_input input {
  width: 100%;
  height: 42px;
  margin-top: -8px;
}
.submit_btn {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.04) 99.48%,
      rgba(0, 0, 0, 0.04) 99.49%
    ),
    #007be5;
  color: white;
  border: 1px solid #0f7ec2;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.login_link {
  text-align: center;
  margin-top: 20px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #0f1222;
}
.singup_form_content {
  width: 650px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 70px 20px rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 40px;
}
.singup_container {
  display: flex;
  justify-content: center;
  background-color: rgb(179, 178, 177);
  min-height: 100vh;
}
.singup_content {
  margin-top: 20px;
  margin-bottom: 20px;
}
.singup_log {
  text-align: center;
  margin-top: 50px;
}
.singup_log img {
  width: 100px;
  height: 100px;
}
.singup_log p {
  font-family: "Inter";
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}
.singup_log h6 {
  font-family: "Inter";
  font-style: normal;
  margin-top: -12px;
  font-size: 13px;
  color: rgb(215, 57, 57);
}
.singup_divider {
  width: 260px;
  background-color: rgb(149, 143, 143);
}
.singup_log h5 {
  font-family: "Inter";
  font-style: normal;
  font-size: 13px;
  margin-top: 5px;
}

.from_content {
  display: flex;
  align-items: center;
  margin-bottom: 18px; /* Adjust the margin as needed */
}

.label {
  width: 150px;
  margin-right: 10px;
  display: flex;
  justify-content: end;
  font-size: 15px;
}

.input_container {
  position: relative;
  flex-grow: 1;
}

.icon {
  position: absolute;
  left: 5px;
  top: 9px;
}

.input-field {
  padding-left: 30px;
  width: 80%;
  height: 35px;
  border: 2px solid rgba(0, 0, 0, 0.08);
}
.input-select {
  width: 80%;
  height: 35px;
  border: 2px solid rgba(0, 0, 0, 0.08);
}
.input-file {
  width: 80%;
  height: 35px;
  border: 2px solid rgba(0, 0, 0, 0.08);
}
.input-file::-webkit-file-upload-button {
  color: white;
  background-color: #007be5;
  border: none;
  padding-bottom: 10px;
  cursor: pointer;
}
.singup_textarea {
  padding-left: 30px;
  width: 80%;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.08);
}

.Password_format {
  font-size: 13px;
  text-align: center;
  color: rgb(216, 55, 55);
}
.contact_text {
  font-family: "Inter";
  font-style: normal;
  font-size: 13px;
  margin-top: 5px;
  text-align: center;
}
.submit_btn_container {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.submit_btn {
  width: 90%;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(23, 124, 124);
  border: none;
  color: white;
  font-size: 20px;
}

.login_btn {
  width: 90%;
  display: inline-block;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: rgb(235, 234, 234);
  color: black;
  text-decoration: none;
}
.login_btn:hover {
  color: black;
  text-decoration: none;
}

@media (max-width: 767px) {
  .input-file {
    width: 210px;
  }
  .input_container {
    position: none;
  }
  .input-select {
    width: 220px;
    height: 35px;
    border: 2px solid rgba(0, 0, 0, 0.08);
  }
  .input-field {
    width: 100%;
  }
  .singup_textarea {
    padding-left: 42px;
    width: 100%;
    height: 60px;
    border: 2px solid rgba(0, 0, 0, 0.08);
  }
  .from_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 18px;
  }
  .label {
    display: flex;
    justify-content: start;
    font-size: 15px;
    margin-right: 60px;
  }
  .singup_divider {
    width: 160px;
  }

  .from_content {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
  }
  
}
